extends layout.pug

block content
    h1 Welcome to the Orbox !

    p Here a list of what this app let you do :
    ul
        li.
            By clicking on the <strong>Classes</strong> tab you can create all
            new classes of objects to recognize, update info about existing
            ones or delete them
        li.
            The <strong>Screenshot</strong> tab let you take pictures remotely.
            After doing so you'll need to review the different region of
            interest generated from the snapshots and label them with the
            appropriate classes.
        li.
            In the <strong>Stats</strong> tab you will find all sort of
            interesting graph and statistics that will help you in deciding
            what classes needs more sample or see what performance to expect.

